{% extends 'base.html' %}

{% block title %}Add category{% endblock %}

{% block body %}
  <h1>Add a category</h1>
  <form id="category_form" method="post" action="{% url 'add_category' %}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
      {{hidden}}
    {% endfor %} 
    
    {% for field in form.visible_fields %}
      {{ field.errors }}
      {{ field.help_text }}
      {{ field  }}
    {% endfor %}  
    <br />
    <input type="submit" name="submit" value="Create category" />
  </form>
{% endblock %}
