{% extends 'base.html' %}

{% block title %}Add page{% endblock %}

{% block body %}
 <h1>Add a page</h1>
  <form id="page_form" method="post" action="/rango/category/{{cat.slug}}/add_page/">
  {% csrf_token %}
  {% for hidden in form.hidden_fields %}
    {{hidden}}
  {% endfor %}
  
  {% for field in form.visible_fields %}
    {{field.errors}}
    {{field.help_text}}
    {{field}}
    <br/>
  {% endfor %}
  <br/>
  <input type="submit" name="submit" value="Create page" />
  </form> 
{% endblock %}
