{% extends 'base.html' %}

{% block title %}Add page{% endblock %}

{% block body %}
  <form role='form' id="page_form" method="post" action="/rango/category/{{cat.slug}}/add_page/">
  <h2 class='form-signing-heading'>Add a page to <a href='/rango/category/{{cat.slug}}'>{{cat.name}}</a></h2>
  {% csrf_token %}
  {% for hidden in form.hidden_fields %}
    {{hidden}}
  {% endfor %}
  
  {% for field in form.visible_fields %}
    {{field.errors}}
    {{field.help_text}}
    {{field}}
    <br/>
  {% endfor %}
  <br/>
  <button class='btn btn-primary' type="submit" name="submit">Add page</button>
  </form> 
{% endblock %}
