<!DOCTYPE HTML>

<html>
  <head>
    <title>Rango - {% block title %}How to Tango With Django{% endblock %}</title>
  </head>

  <body>
    <div>
      {% block body %} {% endblock %}
    </div>

    <hr/>

    <div>
      <ul>
      {% if user.is_authenticated %}
        <li><a href="{% url 'restricted' %}">Restricted</a></li>
        <li><a href="{% url 'auth_logout' %}?next=/rango/">Logout</a></li>
        <li><a href="{% url 'add_category' %}">Add category</a></li>
      {% else %}
        <li><a href="{% url 'auth_login' %}">Login</a></li>
        <li><a href="{% url 'registration_register' %}">Register</a></li>
      {% endif %}
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'index' %}">Home</a></li>
      </ul>
    </div> 
 </body>
</html>
